/* alexander jacob, siu, 09/05/2025, 09/05/2025 */

@media only screen and (max-width: 2024px) { 
    #mobile_menu { display: none; }    
}
/* tablet portrait layout (768px to 959px) */
@media only screen and (max-width: 959px) { 
    #mobile_menu { display: none; } 
}
/* mobile landscape layout (480px to 767px) */ 

@media only screen and (max-width: 919px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }       /* 22 ÷ 16 */ 
    header h3 { font-size: .8125em; }   /* 13 ÷ 16 */ 
    p { font-size: .875em; }            /* 14 ÷ 16 */ 
    article h1, main h2, aside h2
        { font-size: 1em; }             /* base font size */ 
    aside li { font-size: .875em; }     /* 14 ÷ 16 */
    
}
/* mobile portrait layout (479px or less) */ 

@media only screen and (max-width: 479px) { 
    #mobile_menu { display: block; }
    #nav_menu { display: none; }
    header h2 { font-size: 1.375em; }   /* 22 ÷ 16 */ 
    header h3 { font-size: .8125em; }   /* 13 ÷ 16 */ 
    p { font-size: .875em; }            /* 14 ÷ 16 */ 
    article h1, main h2, aside h2 
        { font-size: 1em; }             /* base font size */ 
    aside li { font-size: .875em; }     /* 14 ÷ 16 */ 
  
}

body {
font-size: 1em;     /* 16 ÷ 16  */
    width: 90%;          /* changed from 725px;*/
    max-width 1024px; 
    margin: 10px auto;
}

title {
    font-size: 20em
}

header { 
    width: 97.917%;          /* 940 / 960 * 100 */
    padding: 10px 1.0417%;
    clear: both; 
    font-size: 2em;


     }

main {
    width: 47.917%;          /* 480 / 960 * 100 */
    padding: 10px 1.0417%; 
    float: left; }

aside {
    width: 47.917%;          /* 480 / 960 * 100 */
    padding: 10px 1.0417%; 
    float: right; }


blockquote {
    width: 47.917%;          /* 480 / 960 * 100 */
    padding: 10px 1.0417%;
    float: center; 
}
footer { 
    font-size: .75em; /* 12 ÷ 16 */ 
    width: 97.917%;            /* 940 / 960 * 100 */
    padding: 10px 1.0417%;
    clear: both; 
     }
    
ul { 
    
    padding-left: 10px; } 

li {
    padding-left: 10px; /* space between bullet and text */ 
   
} 

figure {
    float: left;
    margin-right: 1.5em;
}
#nav_menu ul {
     list-style-type: none; 
     padding: 1em 0;
     font-size: 1.5em;
     text-align: left;
     
     } 
#nav_menu ul li { 
    display: inline; 
    padding: 0 1em; 
} 
    
#nav_menu ul li a { 
    font-weight: bold; 
    color: limegreen; 
}
#nav_menu ul li a.current { 
    text-decoration: none; 
}

figcaption{
    display: block;
    font-weight: bold;
    font-size: 2.5em;
    padding-top: .25em;
    margin-bottom: 1em;
    border-bottom: 1px solid limegreen;
    color: limegreen;
}